{% extends 'layout.html' %}

{% block body %}
    <!-- Page -->

  <!-- Page -->
  <div class="page">
    <div class="page-content padding-30 container-fluid">

<div class="col-md-6">
          <div class="row height-full">
            <div class="col-xlg-12 col-md-6" style="height:50%;">
              <!-- Widget Linepoint -->
              <div class="widget widget-shadow bg-blue-600 white" id="widgetLinepoint">
                <div class="widget-content">
                  <div class="padding-top-25 padding-horizontal-30">
                    <div class="row no-space">
                      <div class="col-xs-6">
                        <p>Today Sale's</p>
                        <p class="blue-200">Last Sale 23.45 USD</p>
                      </div>
                      <div class="col-xs-6 text-right">
                        <p class="font-size-30 text-nowrap">450 USD</p>
                      </div>
                    </div>
                  </div>
                  <div class="ct-chart height-120"></div>
                </div>
              </div>
              <!-- End Widget Linepoint -->
            </div>


</div>
</div>
        <div class="col-md-6">
          <div class="row height-full">
            <div class="col-xlg-12 col-md-6" style="height:50%;">
              <!-- Widget Linepoint -->
              <div class="widget widget-shadow bg-blue-600 white" id="widgetLinepoint">
                <div class="widget-content">
                  <div class="padding-top-25 padding-horizontal-30">
                    <div class="row no-space">
                      <div class="col-xs-6">
                        <p>Today Sale's</p>
                        <p class="blue-200">Last Sale 23.45 USD</p>
                      </div>
                      <div class="col-xs-6 text-right">
                        <p class="font-size-30 text-nowrap">450 USD</p>
                      </div>
                    </div>
                  </div>
                  <div class="ct-chart height-120"></div>
                </div>
              </div>
              <!-- End Widget Linepoint -->
            </div>


</div>
</div>

  <div class="col-md-12">
          <!-- Widget OVERALL VIEWS -->
          <div class="widget widget-shadow widget-responsive" id="widgetOverallViews">
            <div class="widget-content padding-30">
              <div class="row padding-bottom-30" style="height:calc(100% - 250px);">
                <div class="col-xs-4">
                  <div class="counter counter-md text-left">
                    <div class="counter-label">OVERALL VIEWS</div>
                    <div class="counter-number-group text-truncate">
                      <span class="counter-number-related red-600">$</span>
                      <span class="counter-number red-600">432,852</span>
                    </div>
                    <div class="counter-label">2% higher than last month</div>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="counter counter-sm text-left inline-block">
                    <div class="counter-label">MY BALANCE</div>
                    <div class="counter-number-group">
                      <span class="counter-number-related">$</span>
                      <span class="counter-number">12,346</span>
                    </div>
                  </div>
                  <div class="ct-chart inline-block small-bar-one"></div>
                </div>
                <div class="col-xs-4">
                  <div class="counter counter-sm text-left inline-block">
                    <div class="counter-label">NEW ORDERS</div>
                    <div class="counter-number-group">
                      <span class="counter-number-related">$</span>
                      <span class="counter-number">17,555</span>
                    </div>
                  </div>
                  <div class="ct-chart inline-block small-bar-two"></div>
                </div>
              </div>
              <div class="ct-chart line-chart height-250"></div>
            </div>
          </div>
          <!-- End Widget OVERALL VIEWS -->
        </div>




    <!-- End Page -->
{% endblock %}