<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">

  <title>Register</title>

  <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="http://getbootstrapadmin.com/remark/assets/images/favicon.ico">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-extend.min.css">
  <link rel="stylesheet" href="/static/css/site.min.css">


  <!-- Plugins -->
  <link rel="stylesheet" href="/static/vendor/animsition/animsition.min.css">
  <link rel="stylesheet" href="/static/vendor/asscrollable/asScrollable.min.css">
  <link rel="stylesheet" href="/static/vendor/switchery/switchery.min.css">
  <link rel="stylesheet" href="/static/vendor/intro-js/introjs.min.css">
  <link rel="stylesheet" href="/static/vendor/slidepanel/slidePanel.min.css">
  <link rel="stylesheet" href="/static/vendor/flag-icon-css/flag-icon.min.css">

  <!-- Page -->
  <link rel="stylesheet" href="/static/examples/css/pages/register.css">

  <!-- Fonts -->
  <link rel="stylesheet" href="/static/fonts/web-icons/web-icons.min.css">
  <link rel="stylesheet" href="/static/fonts/brand-icons/brand-icons.min.css">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

  <!--[if lt IE 9]>
    <script src="/static/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

  <!--[if lt IE 10]>
    <script src="/static/vendor/media-match/media.match.min.js"></script>
    <script src="/static/vendor/respond/respond.min.js"></script>
    <![endif]-->

  <!-- Scripts -->
  <script src="/static/vendor/modernizr/modernizr.min.js"></script>
  <script src="/static/vendor/breakpoints/breakpoints.min.js"></script>
  <script>
    Breakpoints();
  </script>
</head>
<body class="page-register layout-full page-dark">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


  <!-- Page -->
  <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
  data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
      <div class="brand">
        <img class="brand-img" src="http://puu.sh/kmZNY/d4387e8f7a.png" alt="...">
        <h2 class="brand-text">Synergy</h2>
      </div>
      <p>Sign up to find interesting thing</p>
      <form method="post" role="form">
        <div class="form-group">
          <label class="sr-only" for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="password"
          placeholder="Password">
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputPasswordCheck">Retype Password</label>
          <input type="password" class="form-control" id="inputPasswordCheck" name="passwordCheck"
          placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </form>
      <p>Have account already? Please go to <a href="/login">Sign In</a></p>

      <footer class="page-copyright page-copyright-inverse">
        <p>SNRG</p>
        <p>© 2015. All RIGHT RESERVED.</p>
        <div class="social">
          <a href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
  <!-- End Page -->


  <!-- Core  -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/static/vendor/animsition/jquery.animsition.min.js"></script>
  <script src="/static/vendor/asscroll/jquery-asScroll.min.js"></script>
  <script src="/static/vendor/mousewheel/jquery.mousewheel.min.js"></script>
  <script src="/static/vendor/asscrollable/jquery.asScrollable.all.min.js"></script>
  <script src="/static/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>

  <!-- Plugins -->
  <script src="/static/vendor/switchery/switchery.min.js"></script>
  <script src="/static/vendor/intro-js/intro.min.js"></script>
  <script src="/static/vendor/screenfull/screenfull.js"></script>
  <script src="/static/vendor/slidepanel/jquery-slidePanel.min.js"></script>

  <!-- Plugins For This Page -->
  <script src="/static/vendor/jquery-placeholder/jquery.placeholder.min.js"></script>

  <!-- Scripts -->
  <script src="/static/js/core.min.js"></script>
  <script src="/static/js/site.min.js"></script>

  <script src="/static/js/sections/menu.min.js"></script>
  <script src="/static/js/sections/menubar.min.js"></script>
  <script src="/static/js/sections/gridmenu.min.js"></script>
  <script src="/static/js/sections/sidebar.min.js"></script>

  <script src="/static/js/configs/config-colors.min.js"></script>
  <script src="/static/js/configs/config-tour.min.js"></script>

  <script src="/static/js/components/asscrollable.min.js"></script>
  <script src="/static/js/components/animsition.min.js"></script>
  <script src="/static/js/components/slidepanel.min.js"></script>
  <script src="/static/js/components/switchery.min.js"></script>

  <!-- Scripts For This Page -->
  <script src="/static/js/components/jquery-placeholder.min.js"></script>
  <script src="/static/js/components/animate-list.min.js"></script>

  <script>
    (function(document, window, $) {
      'use strict';

      var Site = window.Site;
      $(document).ready(function() {
        Site.run();
      });
    })(document, window, jQuery);
  </script>


</body>
</html>